<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vet')}">

  <body>
  
  
    <h2 th:text="#{Information}" >veterinario Information</h2>
  
  
    <table class="table table-striped" th:object="${vet}">
      <tr>
        <th th:text="#{Name}">Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th th:text="#{horarioinicio}">horario</th>
        <td th:text="*{horario}" /></td>
      </tr>
     <tr>
        <th th:text="#{horafin}">especialidad</th>
        <td th:text="*{hora_fin}" /></td>
      </tr>
        <tr>
        <th th:text="#{especiality}">especialidad</th>
        <td th:text="*{specialty}" /></td>
      </tr>
      <tr>
        <th th:text="#{Telephone}">Telephone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${vet.id})}" th:text="#{Edit}" class="btn btn-default">Edit Vet</a>
    <a th:href="@{{id}/delete(id=${vet.id})}" th:text="#{eliminar}" class="btn btn-default">Delete</a>


 
  
  </body>

</html>
