<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'reports')}">

<body>

  <h2 th:text="#{medicineReport}">Medicines</h2>
  <h3 th:text="#{medicines}+${': ' + medicineReport.cantidad}"></h3>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th th:text="#{name}">Name</th>
        <th th:text="#{activeIngredients}">Actives</th>
        <th th:text="#{presentation}">Presentation</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="medicine : ${medicineReport.medicines}">
        <td th:text="${medicine.name}"></td>
        <td th:text="${medicine.activeIngedients}"></td>
        <td th:text="${medicine.presentation}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
